{% extends 'layout.html.twig' %}

{% block header_title %}
    Fiche produit "{{name}}"
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-sm-4">
    <img src="{{image}}" />
    <p><b>nombre de vue : </b>{{nb_view}}</p>
    </div>
    <div class="col-sm-8">
        <h3>{{name}} - {{brand}}</h3>
        <h4>Code barre {{code_barre}}</h4>
        <hr />
        <p>
            <b>Quantité:</b> {{quantity}} <br/>
        </p>
        <p>
            <b>Ingrédients:</b>
            <ul>
              {% for ingredient in ingredients %}
                <li>{{ ingredient.text|replace({"_": " "}) }}</li>
              {% endfor %}
            </ul>
        </p>
    </div>
</div>
{% endblock %}
