{% extends 'layout.html.twig' %}

{% block header_title %}
    Mes repas
{% endblock %}

{% block contents %}

<div class="row">
  <ul>
    {% for repas in AllRepas %}
      <li>{{repas['type']}} - {{repas['date']}}</li>
    {% endfor %}
  </ul>
</div>
<hr/>
<div class="row">
    <form method="post" action="{{ path('repas') }}">
      {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Send" />
      {{ form_end(form) }}
    </form>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
... lines 13 - 18
{% endblock %}
